

*{

    -fx-text-fill: -white-color;
    -fx-font-weight: bold;

}

.root-item{

    -fx-background-color: -primary-color;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian,-black-color,20.0,0.10,5,5);

}

.label-root{

    -fx-border-color: #5181C9;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;

}

.button{

    -fx-background-color: #5181C9;
    -fx-background-radius: 5px;

}