/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

*{

    -on-primary-color: #ffffff;
    -on-secondary-color: #000000;
    -primary-color: #0C397D;
    -primary-color-dark: #07224A;
    -primary-color-light: #5181C9;
    -primary-color-variant: #3B5E93;
    -primary-color-variant2: #145DC9;

}

.root{

    -fx-font-size: 14px;
    -fx-font-family: Elephant;
    -fx-faint-focus-color: -primary-color-variant2;

}

.text-field:focused{

    -fx-scale-x: 1.02;
    -fx-scale-y: 1.10;
    -fx-background-insets: -2, -0.3, 1, 2;

}

.text-input, .text-input:focused {

    -fx-prompt-text-fill:darkgray;

}

.header{

    -fx-background-color: -primary-color-dark;

}

.button{

    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: -on-primary-color;

}

.button:hover, .button:focused{

    -fx-background-color: -primary-color-variant;

}

.button:pressed{

    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;

}


.previous-page .region{

    -fx-shape: "M18 11h-7.244l1.586-1.586c.781-.781.781-2.049 0-2.828-.781-.781-2.047-.781-2.828 0l-6.414 6.414 6.414 6.414c.39.391.902.586 1.414.586s1.023-.195 1.414-.586c.781-.781.781-2.049 0-2.828l-1.586-1.586h7.244c1.104 0 2-.896 2-2 0-1.105-.896-2-2-2z";
    -fx-background-color: -primary-color-dark;
}

.next-page .region{

    -fx-shape: "M10.586 6.586c-.781.779-.781 2.047 0 2.828l1.586 1.586h-7.244c-1.104 0-2 .895-2 2 0 1.104.896 2 2 2h7.244l-1.586 1.586c-.781.779-.781 2.047 0 2.828.391.391.902.586 1.414.586s1.023-.195 1.414-.586l6.414-6.414-6.414-6.414c-.781-.781-2.047-.781-2.828 0z";
    -fx-background-color: -primary-color-dark;

}

.previous-page:hover, .next-page:hover, .previous-page:focused, .next-page:focused{

    -fx-background-color: transparent;
}

.previous-page:hover .region, .next-page:hover .region, .previous-page:focused .region, .next-page:focused .region{

    -fx-background-color: -primary-color-variant;
}

.search .region {

    -fx-shape: "M39.854,15.146l-4.421-4.42a6.511,6.511,0,1,0-.707.707l4.42,4.421a.5.5,0,0,0,.708-.708ZM30.5,12A5.5,5.5,0,1,1,36,6.5,5.506,5.506,0,0,1,30.5,12ZM31,3.5a.5.5,0,0,1-.5.5A2.5,2.5,0,0,0,28,6.5a.5.5,0,0,1-1,0A3.5,3.5,0,0,1,30.5,3,.5.5,0,0,1,31,3.5Z";
    -fx-background-color: -primary-color-light;

}

.search:hover, .search:focused{

    -fx-background-color: transparent;

}

.search:hover .region, .search:focused .region{

    -fx-background-color: -on-primary-color;

}

.fav-region{

    -fx-shape: "M12.39 20.87a.696.696 0 0 1-.78 0C9.764 19.637 2 14.15 2 8.973c0-6.68 7.85-7.75 10-3.25 2.15-4.5 10-3.43 10 3.25 0 5.178-7.764 10.664-9.61 11.895z";
    -fx-background-color: transparent;
    -fx-border-color: -on-secondary-color;
    -fx-border-width: 3;

}

.follow-region{

    -fx-shape: "M12.0678 2.14611C12.3883 2.00663 12.7431 1.96564 13.0874 2.02906C13.4316 2.09244 13.7478 2.25698 13.9973 2.49935L22.459 10.7164C22.6312 10.8837 22.7672 11.0838 22.8599 11.3041C22.9525 11.5244 23 11.7609 23 11.9994C23 12.238 22.9525 12.4744 22.8599 12.6947C22.7672 12.9151 22.6309 13.1154 22.4587 13.2827L13.9972 21.4997C13.7476 21.742 13.4316 21.9064 13.0874 21.9698C12.7431 22.0332 12.3883 21.9922 12.0678 21.8528C11.7474 21.7134 11.4771 21.4826 11.2883 21.1916C11.0997 20.9008 11.0001 20.5617 11 20.2164L11 17.0208C8.70545 17.1206 7.26436 17.5717 6.17555 18.2297C4.90572 18.9971 4.01283 20.0973 2.77837 21.6278C2.5122 21.9578 2.06688 22.0841 1.66711 21.943C1.26733 21.8018 1 21.424 1 21C1 17.4414 1.5013 13.9586 3.15451 11.341C4.72577 8.85318 7.25861 7.26795 11 7.03095L11 3.78241C11.0001 3.43711 11.0997 3.09808 11.2883 2.80727C11.4771 2.51629 11.7474 2.2855 12.0678 2.14611Z";
    -fx-background-color: transparent;
    -fx-border-color: -on-secondary-color;
    -fx-border-width: 3;

}

.fav-region-filled{

    -fx-background-color: rgba(255, 0, 0, 0.64);

}



.follow-region-filled{

    -fx-background-color: white;

}

.button:hover .fav-region, .button:focused .fav-region, .button:hover .follow-region, .button:focused .follow-region{

    -fx-border-color: -on-primary-color;

}